html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

body {
  min-width: 480px;
  padding: 10px;
  background-color: #e6e6e6;
}

body.body-hidden > * {
  visibility: hidden;
}

@media only screen and (prefers-color-scheme: dark) {
  body {
    background-color: #333;
  }
}

body.popup > header {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.hidden,
[role=button].hidden,
main .pages .page.hidden {
  display: none;
}

header h1 {
  flex-grow: 1;
  font-weight: 200;
  font-size: 30px;
  margin-bottom: 0;
}

header .logo {
  height: 40px;
}

.page-status {
  margin: 7px;
  background-color: var(--primary);
  border: 0;
  padding: 5px 9px;
  border-radius: 25px;
  color: var(--contrast);
  display: none;
}

.page-status.unread {
  display: block;
  background-color: #d4f5ff;
}

.page-status.finished {
  display: block;
  background-color: #ecffb6;
}



@media only screen and (prefers-color-scheme: dark) {
  .page-status.unread {
    display: block;
    background-color: #0089a8;
  }

  .page-status.finished {
    display: block;
    background-color: #008001;
  }
}


header .header-buttons [role="button"] {
  padding: 5px;
}

header .header-buttons .icon {
  height: 20px;
}

header .settings img {
  height: 20px;
  filter: opacity(70%);
}

aside .filters {
  display: flex;
  gap: 20px;
}

body.popup > main {
  padding: 0;
}

main h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

main h2 .counter {
  font-size: 0.5em;
}

main section {
  margin: 20px 0;
}

main .pages .page {
  border-radius: 10px;
  background-color: white;
  margin: 2px;
  padding: 5px;
  display: flex;
  align-items: center;
}

@media only screen and (prefers-color-scheme: dark) {
  main .pages .page {
    background-color: #1a1a1a;
  }
}

main section.unread .pages .page.current {
  background-color: #d4f5ff;
}

main section.finished .pages .page.current {
  background-color: #ecffb6;
}

@media only screen and (prefers-color-scheme: dark) {
  main section.unread .pages .page.current {
    background-color: #001c23;
  }

  main section.finished .pages .page.current {
    background-color: #363d23;
  }
}

main .pages .page a:any-link {
  flex: 1 0 auto;
  display: block;

  --primary: var(--color);
}

main .pages .page a p {
  margin: 0;
  max-width: 450px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main .pages .page a .title {
  font-weight: bold;
}

main .pages .page a .metadata {
  font-size: 0.8em;
}

main .pages .page button {
  width: initial;
  padding: 5px;
  margin: 0;
}

