html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

body {
  min-width: 480px;
  padding: 10px;
  background-color: #e6e6e6;
}

body.body-hidden > * {
  visibility: hidden;
}

@media only screen and (prefers-color-scheme: dark) {
  body {
    background-color: #333;
  }
}

body.popup > header {
  padding-top: 0;
  padding-bottom: 0;
}

body.popup > header .first-row {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

body.popup > header [role="search"] {
  flex-grow: 1;
}

.hidden,
[role=button].hidden,
header #filters.hidden {
  display: none !important;
}

header .header-buttons [role="button"] {
  padding: 5px;
  margin-left: 5px;
}

header .header-buttons .icon {
  height: 20px;
}

header .settings img {
  height: 20px;
  filter: opacity(50%);
}

@media only screen and (prefers-color-scheme: dark) {
  header .settings img {
    filter: opacity(50%) invert(1);
  }
}

header #filters {
  margin-left: 40px;
  display: flex;
  gap: 20px;
}

body.popup > main {
  padding: 0;
}

main h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

main h2 .counter {
  font-size: 0.5em;
}

main section {
  margin: 20px 0;
}
