:root {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

body {
  min-width: 350px;
}

.appear-from-top {
    position: relative;
    animation: appear-from-top 0.2s ease-in forwards;
}

@keyframes appear-from-top {
    from {
        top: -30px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1
    }
}


.controls {
    margin: 5px;
    min-width: 20rem;;
    display: none;
}

.controls.current {
    display: block;
    white-space: nowrap;
}

.controls h1 {
    font-size: 1.5rem;
    padding: 5px 5px 5px 0;
}

.controls a {
    margin-right: 15px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1rem;
    background-color: #eee;
    color: #444;
}

.controls h1 img {
    height: 1.5em;
    vertical-align: middle;
}

.controls a:hover {
    background-color: #eaeaea;
}

.controls .state-change-buttons {
    margin: 20px 0;
}

.controls a img {
    height: 1.5em;
    vertical-align: middle;
    filter: grayscale(1);
}

.controls a:hover img {
    filter: none;
}


.related-links ul {
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
}

.related-links h2 {
    margin-top: 25px;
    padding-top: 15px;
    margin-bottom: 5px;
    border-top: 1px solid lightblue;
    font-size: 1.2rem;
    font-weight: normal;
}


.related-links ul li {
    list-style: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 25rem;
    overflow-x: hidden;
    font-size: 1.1rem;
}

.related-links ul li img {
    height: 1.0em;
    margin-right: 0.2em;
    vertical-align: middle;
}
