
#list-result ul {
    list-style-type: none;
    white-space: nowrap;
    text-align: left;
}

#list-result ul li {
    padding: 0 0 5px 30px;
    list-style: none;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px;

}

#list-result li[data-status='done'] {
    background-image: url("../images/icon-done.png");
    color: green !important;
}

#list-result li[data-status='started'] {
    background-image: url("../images/icon-started.png");
    color: #de9621 !important;
}

#list-result li[data-status='todo'] {
    background-image: url("../images/icon-todo.png");
    color: #d73700 !important;
}


#list-result details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
    margin-top: 5px;
}

#list-result summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

#list-result details[open] {
    padding: .5em;
}

#list-result details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}
