
button {
  padding: 5px 10px ;
}

button.danger {
    color: red;
    border-color: red;
  border-radius: 5px;
  background-color: white;
}

button.danger:hover {
  color: white;
  background-color: red;
}

h2 {
  font-size: 1.2em;
}

.states-list label {
  display: block;
  margin: 10px 0;
}

p {
  color: gray;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid darkgray;
}


