a.marked-as-todo {
    color: #ff6758 !important;
}
a.marked-as-todo::after {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/icon-todo.png');
    background-size: 1em 1em;
    display: inline-block;
    width: 1em;
    height: 1em;
    content:"";
    margin-left: 0.3em;
}

a.marked-as-started {
    color: #00c7ff !important;
}
a.marked-as-started::after {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/icon-started.png');
    background-size: 1em 1em;
    display: inline-block;
    width: 1em;
    height: 1em;
    content:"";
    margin-left: 0.3em;
}



a.marked-as-done {
    color: #009100 !important;
}
a.marked-as-done::after {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/icon-done.png');
    background-size: 1em 1em;
    display: inline-block;
    width: 1em;
    height: 1em;
    content:"";
    margin-left: 0.3em;
}


h1 {
    font-size: 22pt;
}