:root {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

body {
  padding: 30px;
}


summary h2 {
  display: inline;
  font-size: 1.2em;
}

.links details {
  margin-top: 1em;
  margin-bottom: 1em;
}

.links table  {
  border-collapse: collapse;
}

.links table tr {
  border-bottom: 1px solid #e8e8e8;
}

.links table td {
    padding: 5px;
}

.links img {
    height: 1.0em;
    margin-right: 0.2em;
    vertical-align: middle;
}
