body {
    text-align: right;
    padding: 0;
    margin: 0;
}

#controls {
    display: inline-block;
    text-align: center;
    margin: 0;
}
 

#buttonDiv button {
    border: 1px solid gray;
    background-color: white;
    color: black;
    
    font-size: 16px;
    cursor: pointer;
    text-align: left;

    padding: 4px 10px;
    display: block;
    width: 8em;
    height: 2em;
}

#buttonDiv button img {
    width: 16px;
    margin-right: 14px;
}

#buttonDiv button span {
}

#buttonDiv button[data-status='done'] {
    /* border-color: #04AA6D; */
    color: green;

}

#buttonDiv button[data-status='done'].current {
    background-color: #04aa6db0;
    color: white;
}

#buttonDiv button[data-status='none'] {
    color: black;
    text-align: center;
}
#buttonDiv button[data-status='none'].current {
    background-color: #ccc;
}

#buttonDiv button[data-status='started'] {
    color: #ff9800;
}

#buttonDiv button[data-status='started'].current {
    background-color: #ffb340;
    color: white;

}

#buttonDiv button[data-status='todo'] {
    color: red;
}

#buttonDiv button[data-status='todo'].current {
    background-color: #fc7970;
    color: white;
}


